<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.myHealth">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".EnterPin"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".Interests"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SecurityQuestions"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SignUpScreen"
            android:exported="false"
            android:parentActivityName=".GetStarted"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".GetStarted"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".TeleconsultationActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".HospitalProfile"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".Search"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SpecialtiesHome"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Specialties"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false"
            android:parentActivityName=".Login"
            android:theme="@style/Theme.NoActionBarLogin" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:parentActivityName=".Preview"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".DoctorList"
            android:exported="false"
            android:parentActivityName=".Preview" />
        <activity
            android:name=".DoctorListHome"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Onboarding"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Preview"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>